    body {
        font-family: 'Raleway';
        background-color: #DFE4E9;
    }

    a {
        color: #012B65;
    }

    p {
        color: #212529;
    }

    h3 {
        font-size: 1.125rem;
    }

    input,
    select {
        border-radius: 100px !important;
    }

    .form-control {
      padding: 10px;
      font-size: 0.75rem;
    }

    .state {
      border-radius: 100px;
      font-size: 0.7rem;
      font-weight: 500;
      background-color: #CDFFFF;
      border: 1px solid #00CDEB;
      color: #00CDEB;
      text-align: center;
      width:25%;
    }

    .state-inactivo {
      border-radius: 100px;
      font-size: 0.7rem;
      font-weight: 500;
      background-color: #e0c3c3;
      border: 1px solid #ac4545;
      color: #ac4545;
      text-align: center;
      width:25%;
    }

    .btn-primary,
    .btn-secondary,
    .btn-tertiary {
      border-radius: 100px;
      font-size: 0.688rem;
      padding: 10px 20px;
      font-weight: 500;
    }

    .btn-primary {
      background-color: #7DEDA3;
      border: 1px solid #7DEDA3;
      color: #000000;
    }

    .btn-primary:hover,
    .btn-primary:active {
      background-color: #2ED573 !important;
      border-color: #2ED573 !important;
      color: #012B65 !important;
    }

    .btn-secondary {
      background-color: #ffffff;
      border: 1px solid #2ED573;
      color: #2ED573;
    }

    .btn-secondary:hover,
    .btn-secondary:active {
        background-color: #ffffff !important;
        border-color: #7DEDA3 !important;
        color: #7DEDA3 !important;
    }

    .btn-tertiary {
      background-color: #00DEFF;
      border: 1px solid #00DEFF;
      color: #000000;
    }

    .btn-tertiary:hover {
      background-color: #00CDEB !important;
      border-color: #00CDEB !important;
      color: #012B65 !important;
    }

    .navbar {
        background-color: #ffffff;
    }

    .navbar-brand {
      font-family: 'Anton';
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    .nav-tabs {
        background-color: #ffffff;
        border-radius: 10px 10px 0 0;
    }

    .nav-link.active {
        border-bottom: 4px solid #012B65 !important;
        border: 0px transparent;
    }

    .nav-link:hover {
        color:#BBBCBC;
        border: 0;
    }

    .nav-link {
        padding: 25px !important;
        background-color: #ffffff;
        color:#BBBCBC;
        font-size: 0.75rem;
    }

    .table-box {
        background-color: #ffffff;
        border-radius:  0 0 10px 10px;
        padding: 45px 25px;
    }

    thead tr {
        border-bottom: solid 2px #cccccc;
    }

    thead tr th {
        color: #3A4D86 !important;
        font-weight: 400;
    }

    thead th p,
    tbody tr p,
    tbody tr a {
    font-size: 0.75rem;
    margin-bottom: 0;
    }

    tbody tr {
        border-bottom: 1px solid #edecec;
    }

    tbody tr a {
        text-decoration: none;
    }

    .modal-header {
        background-color: #ffffff;
        color: #012B65;
        border-bottom: 0;
    }

    .modal-header h5 {
        font-size: 1.125rem;
    }

    .modal-body label  {
        color: #212529;
        font-size: 0.875rem;
    }

    .modal-body select {
        font-size: 0.875rem;
    }

    .pagination .page-item.active .page-link {
      background-color: #012B65;
      border-color: #6c757d;
      color: #ffffff;
      padding: 3px 13px 5px 13px;
    }

    .pagination .page-item .page-link {
      color: #212529;
      border: 0px solid #6c757d;
      padding: 3px 13px 5px 13px;
      border-radius: 100%;
      
    }

    .pagination .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: not-allowed;
      background-color: #fff;
      border: 0px solid #dee2e6;
      padding: 3px 13px 5px 13px;
      margin-top: 4px;
    }

    .pagination .page-item.last-page .page-link {
      border-radius: 0;
    }

    li.page-item.last-page {
        margin-top: 5px;
    }

    .page-item .small {
      font-size: 0.75rem;
    }

    .custom-box {
      background-color: #ffffff;
      border-radius: 10px;
    }

    header span,
    header p {
        font-size: 0.875rem;
    }

    header span {
        color: #212529;
    }

    header p {
        color: #3A4D86;
    }

    .fw-bold {
      font-size: 1.375rem;
    }

    .breadcrumb a {
      color: #888888;
      text-decoration: none;
    }

    footer {
      background-color: #012B65;
      text-align: center;
    }

    footer img {
      width: 15%;
    }

    footer p {
      color: #fff;
      font-size: 0.875rem;
    }

    /* login */
    .card {
        border-radius: 20px;
        padding: 40px;
    }

    /* abonados */
    .contenido {
        background-color: #fafafa;
      }
  
      .titulo {
        background-color: #CDFFFF;
      }

    @media (max-width: 767px) {
        .table-box {
            border:none;
            border-radius: 0;
        }

        .nav-link.active, 
        .nav-link {
            border-radius: 0;
        }

        h3 {
            font-size: 1.125rem;
        }

        .width-100 {
        width: 100%!important;
        }

        thead tr th,
         tbody tr, .small  {
            font-size: 0.75rem;
        }

        .state {
            width:100%;
        }  
    }
